---
import { Picture } from "astro-imagetools/components";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<Picture
		src="/src/images/placeholder-about.jpg"
		alt="poster"
		width="1200"
		height="600"
	/>


	</body>
</html>
